h1, h2, h3, h4 {
    color:#303030;
}

h1 {
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 3.6rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-family: "DM Sans";
    font-weight: 300;
    font-size: 1.6rem;
}

h4 {
    font-family: 'Space Grotesk', serif;
    font-weight: 500;
    font-size: 2rem;
}

p, a {
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    margin: 5px 0px;
    color: #606367;
}

p2 {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    margin: 5px 0px;
    color: #606367;
}

body { 
    margin: 0;   /* Remove body margins */
}

.content {
    padding: 5rem 10rem 2rem 10rem;
}

b {
    font-weight: bold;
}


img {
    max-width: 100%;
}


.selected-work {
    padding: 3rem 0;
}

.tagline {
    max-width: 90%;
}
.subtag {
    max-width: 70%;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    padding: 2rem 10rem 0rem 10rem;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #303030;
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color:rgb(77,142,248);
}

/* Add a color to the active/current link */
.topnav a.active {
    color: rgb(48, 48, 48);
    text-decoration: underline;
}


.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: calc(50% - 1rem);
    padding-bottom: 3rem;
}

.card-image {
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card-image:hover {
    cursor: pointer;
    transform: rotate(2deg);
    
}

.card-desc {
    padding-top: 10px;
}